{% extends 'navbar.html' %}
{% block title %}About Makers{% endblock %}
{% block content %}
    <div class="center aligned stackable ui page grid">
        <div class="sixteen wide one column">
            <br>
            <div>
                <h2 class="ui teal huge header">About the makers</h2>
                <div class="ui teal segment">
                    <p>
                        The PubMed Article Searcher has been brought to you by Rutger Kemperman, Christiaan Posthuma and Yaris van Thiel, second year Bio-informatics students at HAN Nijmegen.
                        <br><br>
                        Rutger Kemperman: <br>
                        The main worker on the HTML layout of the website, thanks to Rutger the website looks orderly and pleasing to the eye.
                        <br><br>
                        Christiaan Posthuma: <br>
                        -
                        <br><br>
                        Yaris van Thiel: <br>
                        -
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

