{% extends 'navbar.html' %}
{% block title %}About Makers{% endblock %}
{% block content %}
    <div class="center aligned stackable ui page grid">
        <br>
        <div class="sixteen wide one column">
            <br>
            <h2 class="ui teal huge header">About the makers</h2>
            <div class="ui teal segment">
                <p>
                    The PubMed Article Searcher has been brought to you by
                    Rutger Kemperman, Christiaan Posthuma and Yaris van
                    Thiel, second year Bio-informatics students at HAN
                    Nijmegen.
                    <br><br>
                    <strong>Rutger Kemperman:</strong> <br>
                    The main worker on the HTML layout of the website,
                    thanks to Rutger the website looks orderly and pleasing
                    to the eye.
                    <br><br>
                    <strong>Christiaan Posthuma:</strong> <br>
                    -
                    <br><br>
                    <strong>Yaris van Thiel:</strong> <br>
                    The brains behind the co-occurrence algorithm.
                    Responsible for a lot of other miscellaneous
                    functionalities to create a better user experience.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

