<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

</head>

<body>

    <div class="center aligned stackable ui page grid">
        <div class="ui huge attached tabular menu">
            <a class="active item">Home</a> {# basic info over de tool met link naar de tool #}
            <a class="item">About the project</a> {# info over het genpanels project, hoe genpanels benut worden en hoe onze tool hierin staat #}
            <a class="item">TBD</a>
            <a class="item">About the makers</a>
        </div>
        <div class="ui header"><a href="/tool">Go to tool</a>

        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.js"></script>
</html>


